# Monit control file service Entry Statements for vxfld
#
# Monitoring by monit is controlled by the config option in the
#  vxfld.conf file

# It works like this: Checking of the daemon depends on the existence
# of the pid file.  If no pid file then no checking -- the daemon must
# have exited normally.  The daemon enables checking of the pid file
# after it has created it by calling "monit monitor
# [vxrd|vxsnd].pid".  Pid file used by daemon must be same as the one
# called out as service path in this file.

# For vxrd
#
check process vxrd with pidfile /var/run/vxrd.pid
    start program = "/etc/init.d/vxrd start"
    stop program = "/etc/init.d/vxrd stop"
    depends on vxrd.pid

check file vxrd.pid with path /var/run/vxrd.pid
    if does not exist then unmonitor

# For vxsnd
#
check process vxsnd with pidfile /var/run/vxsnd.pid
    start program = "/etc/init.d/vxsnd start"
    stop program = "/etc/init.d/vxsnd stop"
    depends on vxsnd.pid

check file vxsnd.pid with path /var/run/vxsnd.pid
    if does not exist then unmonitor

